{% extends 'base.html' %}

{% block content %}

{% if validlink %}
<div class="m-5 px-5">
    <h1 class="text-center mb-5">Set a new password!</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="text-center m-4">
            <input type="submit" value="Change my password" class="btn btn-secondary ">
            <a href="{% url 'login' %}" class="text-decoration-none btn btn-secondary ">Cancel</a>
        </div>

    </form>
</div>
{% else %}

<p class="m-5 font-weight-bold">The password reset link was invalid, possibly because it has already been used. Please
    request a new password reset.</p>
<a href="{% url 'password_reset' %}" class="text-decoration-none btn btn-secondary mb-5 mx-5">Request a new password
    reset</a>
{% endif %}
{% endblock %}
