<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DoIt</title>
</head>
<body>
    <div>
        <h1>{{ page_title }}</h1>

        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Save">

        </form>
    </div>
    <footer>
        <button type="submit" onclick="location.href ='{% url 'DoIt:index' %}'">Go back to index</button>
    </footer>
</body>
</html>