{% extends 'base_app.html' %}

{% block content %}
<div>
    <h1 class="text-center my-4">{{ page_title }}</h1>

    <form method="post" class="mb-3 mx-5 px-5">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="text-center">
            <input type="submit" value="Save" class="btn btn-secondary m-1">

            <a href ="{% url 'DoIt:index' %}" class="btn btn-secondary text-decoration-none m-1">
                Go back to index
            </a>
        </div>
    </form>
</div>
{% endblock %}