<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DoIt</title>
</head>
<body>
    <div>
        <h1>Tasks of {{ task_of_list.first.list.name }}</h1>

        {% if messages %}
            {% for message in messages %}
                <p><strong>{{ message }}</strong></p>
            {% endfor %}
        {% endif %}

        <ul>
            {% for task in task_of_list %}
                <li>
                    <a href="{% url 'DoIt:details' task.id %}" >{{ task.name }}</a>
                    <div>
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" onclick="">Edit</button>
                            </form>
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" onclick="">Delete</button>
                            </form>
                        </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <footer>
        <button onclick="location.href= '{% url 'DoIt:new_task' view.kwargs.pk %}'">Add a new Task</button>
        <button type="submit" onclick="location.href ='{% url 'DoIt:index' %}'">Go back to index</button>
    </footer>
</body>
</html>