{% extends 'base_app.html' %}

{% block content %}
    <h1 class="text-center my-4">{{ task.name }}</h1>
    <div class="mx-5 px-5">
        <p>{{ task.description }}</p>
        <p>Is done: {{ task.is_done }}</p>
        <p>Start Date: {{ task.start_date }}</p>
        <p>End Date: {{ task.end_date }}</p>
        <p>How much time it takes: {{ task.time_it_takes }}  minute{{ task.time_it_takes|pluralize }}</p>
        <p>Is important: {{ task.is_important }}</p>
        <p>List: {{ task.list.name }}</p>
    </div>
    <footer class="text-center m-4">
        <button onclick="location.href= '{% url 'DoIt:tasks' task.list.id %}'"
                class="btn btn-secondary text-decoration-none">
            Go back to the list
        </button>
    </footer>
{% endblock %}