{% extends 'base_app.html' %}

{% block content %}
<div>
    <h1 class="text-center my-4">{{ page_title }} {{ list.name }}</h1>

    <form method="post" class="mb-3 mx-5 px-5">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="text-center">
            <button type="submit" class="btn btn-secondary m-1">Save</button>

            <a href= "{% url 'DoIt:tasks' list.id %}"
               class="btn btn-secondary text-decoration-none m-1" >
                Go back to the list
            </a>
        </div>

    </form>
</div>
{% endblock %}